:root {
  --standart-white: #ffffff;
  --logo-title-color: #2e2f42;
  --header-btn-color: #4d5ae5;
  --about-galtext: #434455;
  --first-border-color: #e7e9fc;
  --second-border-color: #f4f4fd;

}



* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}


body {
  font-family: "Roboto", sans-serif;
}

/*--------------HEADER---------------*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.flex {
  display: flex;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
 
  margin: 0 auto;
}


.site-body {
  width: 1440px;
  height: 2590px;
  background: var(--standart-white)
}



.header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
  background: var(--standart-white);
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--logo-title-color);
}
.logo :hover,
.logo :focus {
  color: var(--header-btn-color);
}

.web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--header-btn-color);
}





.header-link {
  
 
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--logo-title-color);
}
.header-link:focus,
.header-link:hover {
  color: var(--header-btn-color);
}






.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  cursor: pointer;
  color: var(--about-galtext);
}

.address-link:hover,
.address-link:focus {
  color: var(--header-btn-color);
}

/*--------------OUR SKILLS----------------*/

.skills {
 
  
  background: var(--logo-title-color);
}

.heading-text {
  padding-top:188px ;
  padding-bottom: 292px;
  padding-left: 473px;
  padding-right: 473px;
  margin-bottom: 48px;
  width: 494px;
  height: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--standart-white);
}

.button-header {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background: var(--header-btn-color);
  cursor: pointer;
  color: var(--standart-white);
}
.button-header:hover,
.button-header:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-title-color);
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--about-galtext);

}
.content {
padding-top: 120px;
padding-bottom: 120px;
 
}

.content-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-title-color);
}

.content-list {
  padding: 0px;
}

/*------------- OUR TEAM----------------*/

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--second-border-color);
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-title-color);
}


.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--standart-white);
  
}

.item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--logo-title-color);
}

.item-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--about-galtext);
  flex: none;
  order: 1;
  flex-grow: 0;
}

/*--------------FOOTER----------------*/
.footer {
  background: var(--logo-title-color);
}
.logo-footer {
  font-style: normal;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.15;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-border-color);
  margin-bottom: 16px;
}

.footer-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-border-color);
}

/*--------------PORTFOLIO----------------*/



.filtr-btn {
  padding-top: 96px;
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  

}

.button-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 24px;
  background: var(--second-border-color);
  border: 1px solid var(--first-border-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--header-btn-color);
}
.button-item:hover,
.button-item:focus {
  background-color: #4d5ae5;
  color: var(--standart-white);
}

/*--------------Galery---------------*/

.galery-list-item {
  padding-bottom: 120px;
  border: 0.5px solid var(--second-border-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: var(--standart-white);
}

.galery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-title-color);
}

.galery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--about-galtext);
}
